<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.icarexm.zhiquwang">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- 地图权限 -->
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 高德地位权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a3943e611480b87c48027607be918ad4"/>
        <activity android:name=".view.activity.LunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.OvertimeApprovalActivity" />
        <activity android:name=".view.activity.SetReminderActivity" />
        <activity android:name=".view.activity.PunchCardRecordActivity" />
        <activity android:name=".view.activity.AddWorkHistoryActivity" />
        <activity android:name=".view.activity.AttendanceCardActivity" />
        <activity android:name=".view.activity.OvertimeApplyActivity" />
        <activity android:name=".view.activity.BusinessCooperationActivity" />
        <activity android:name=".view.activity.MyToJoinActivity" />
        <activity android:name=".view.activity.CertificationActivity" />
        <activity android:name=".view.activity.UpdateBaseInforActivity" />
        <activity android:name=".view.activity.FeedBackActivity" />
        <activity android:name=".view.activity.ChangePasswordActivity" />
        <activity android:name=".view.activity.AboutActivity" />
        <activity android:name=".view.activity.ContactUsActivity" />
        <activity android:name=".view.activity.SetActivity" />
        <activity android:name=".view.activity.InviteAwardActivity" />
        <activity android:name=".view.activity.WithdrawalDtlActivity" />
        <activity android:name=".view.activity.EntryAwardActivity" />
        <activity android:name=".view.activity.AddBankCardActivity" />
        <activity android:name=".view.activity.CashWithdrawalActivity" />
        <activity android:name=".view.activity.MyWalletActivity" />
        <activity android:name=".view.activity.MyResumeActivity" />
        <activity android:name=".view.activity.DistributionPosterActivity" />
        <activity android:name=".view.activity.CommissionActivity" />
        <activity android:name=".view.activity.MyTeamActivity" />
        <activity android:name=".view.activity.DistributionTeamActivity" />
        <activity android:name=".view.activity.MyJobSearchActivity" />
        <activity android:name=".view.activity.BaseInformationActivity" />
        <activity android:name=".view.activity.OvertimeStatisticsActivity" />
        <activity android:name=".view.activity.BasePayActivity" />
        <activity android:name=".view.activity.BaseActivity" />
        <activity android:name=".view.activity.MessageActivity" />
        <activity android:name=".view.activity.FamousRecruitmentActivity" />
        <activity android:name=".view.activity.NearbyStoreActivity" />
        <activity android:name=".view.activity.RecruitDetailActivity" />
        <activity android:name=".view.activity.RecruitActivity" />
        <activity android:name=".view.activity.HomeActivity" />
        <activity android:name=".view.activity.EditPersonalActivity" />
        <activity android:name=".view.activity.UserAgreementActivity" />
        <activity android:name=".view.activity.ResetPasswordActivity" />
        <activity android:name=".view.activity.LogonActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.GuidePageActivity"></activity>
        <activity android:name=".MainActivity" />
        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>